<?xml version="1.0" encoding="UTF-8"?>
<community>
	<score>
		<level>
			<num>1</num>
			<min>0</min>
			<max>100</max>
		</level>
		<level>
			<num>2</num>
			<min>101</min>
			<max>300</max>
		</level>
		<level>
			<num>3</num>
			<min>301</min>
			<max>800</max>
		</level>
		<level>
			<num>4</num>
			<min>801</min>
			<max>1500</max>
		</level>
		<level>
			<num>5</num>
			<min>1501</min>
			<max>2200</max>
		</level>
		<level>
			<num>6</num>
			<min>2201</min>
			<max>3000</max>
		</level>
		<level>
			<num>7</num>
			<min>3001</min>
			<max>4000</max>
		</level>
		<level>
			<num>8</num>
			<min>4001</min>
			<max>5000</max>
		</level>
		<level>
			<num>9</num>
			<min>5001</min>
			<max>6000</max>
		</level>
		<level>
			<num>10</num>
			<min>6001</min>
			<max>300000</max>
		</level>
	</score>
</community>